<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs content<%= title %></title>
<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    margin-left: 20px;
}
.site-title{
    margin:20px 20px 0px 20px;
}
.site-title h1{
    color: black;
    font-size:40px ;
    font-family: bold;
}
.site-title a{
    text-decoration: none;

}
.site-title p{
font-size: 22px;
margin-top: 5px;
border-bottom: 5px gray solid;
}
.links-blog {
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 50px;

}
.links-blog ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.links-blog ul li{
    font-size: 20px;
    margin-left: 10px;
    padding: 4px 20px ;
    background-color: gray;
    border-radius: 6px;
}
.links-blog ul a{
    text-decoration: none;
    color: black;
}
.links-blog ul a:hover{
color: red;
}
.blogs content h2{
    font-size: 35px;
    margin: 20px;
}
.content-dynmic p{
    font-size: 18px;
}
.creat-blog{
    margin: 20px;
}
.creat-blog form{
    width: 400px;
    margin: 0 auto;
    
}
.creat-blog input ,.creat-blog textarea{
    display: block;
    width: 100%;
    margin: 10px 0px;
    padding: 6px;
}
.creat-blog label{
    display: block;
    font-size: 20px;
}
.creat-blog button{
    border: none;
    outline: none;
    margin-left:50px;
    width: 60%;
    padding: 6px;
    background-color: darkred;
    border-radius: 12px;
    color: black;
    font-size: 22px;
    cursor: pointer;
}
.aboutcontent p{
    font-size: 18px;
    color: grey;
}
.single h2,p{
    text-decoration: none;
    color: black;
}
.single{
    text-decoration: none;
}
.delete{
    position: absolute;
    top: 30%;
    right: 20%;
    color: black;
    font-size: 22px;
    cursor: pointer;
    padding: 10px 25px;
    background-color: gray;
    border-radius: 20px;

}
.delete:hover{
    padding: 10px 25px;
    border-radius: 25px;
    background-color: brown;

}
.details-content h2{
    margin: 30px;
    font-size: 30px;
    border-left: 4px solid darkred;

}
.details-content h2:hover,p:hover{
    color: maroon;

}
.content-blog p{
    border-left: 4px solid darkred;
    margin-left: 30px;
    font-size: 22px;
}







</style>
</head>