<nav>
    <div class="site-title">
      <a href="/"><h1>blog surya</h1></a>
      <p>A site of surya</p> 
      </div>
      <div class="links-blog">
    <ul>
        <li><a href="/">blogs</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs/creat">new blogs</a></li>
    </ul>
      </div>
      </ul>
    </nav>