<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
<div class="aboutcontent">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing 
    elit. Autem maiores dolore ducimus, quibusdam quos, hic 
    id eligendi nobis dignissimos similique laboriosam culpa sunt, volup
    tas reiciendis est deserunt natus laudantium minus! Lorem ipsum dolor sit amet con
    sectetur adipisicing elit. Ullam itaque minus quod inventore expedita voluptatem nesciunt. Laudan
    tium, cumque placeat nulla id distinctio in dolorum repellat fugit provident repudiandae delectus soluta. Lorem, ipsum 
    dolor sit amet consectetur adipisicing elit. Libero dignissimos repudiandae perferendis enim quibusdam laborum provident 
    mollitia rem similique minima illum tempora, voluptatem maxime facilis ipsum 
    consequuntur error quae blanditiis!

</p>
<p><%= aboutdata %></p>
</div>
</body>
</html>